@import "bootstrap.css";
@import "bootstrap.min.css";
@import "bootstrap-responsiv.css";
@import "bootstrap-responsive.min.css";

.clear{
	clear: both;
}
textarea{
	resize: none;	
}
.test{
	background: #FF0000;
}
.left{
	float: left;
}
.right{
	float: right;
}
.center{
	text-align: center;
}

/** INSCRIPTION **/
.inscription{
	text-align: center;
	margin-left: 30%;
	top: 30%;
	position: absolute;
	border: 1px solid #49AFCD;
	padding: 10px;
}

.logo{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 5%;
	min-width: 40px;
	min-heigh: 40px;
	max-height: 70px;
	max-width: 70px;
}
.form{
	display: inline;
}
.infos{
	display: inline;
	color: white;
}
.footer{
	border: 0px;
	position: fixed;
	bottom: 0px;
	margin-left: 20px;
}
.logoFooter{
    margin-left: -10px;
    max-height: 100px;
    max-width: 100px;
}
.copyright{
	color: black;
}
.getDown{
	margin-top: 85px;
}
/** PROFILE **/
.photoProfile{
    height: 180px;
    width: 180px;
}
.bgProfile{
	border: 2px solid #111111;
	border-radius: 5px;
	width: 160px;
	height: 160px;
	margin-top: 10px;
	margin-left: 10px;
}
.nomProfile{
	font-size: 2em;
    padding: 12px;
}